:root {
  --primary-dark: hsl(300, 43%, 22%);
  --primary-light: hsl(333, 80%, 67%);
  --neutral-dark: hsl(303, 10%, 53%);
  --neutral-light: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  color: var(--primary-dark);
  flex-basis: 35%;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
}

h1 {
  font-weight: 700;
  font-size: 2.8rem;
}

#title-heading p {
  margin-top: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: var(--neutral-dark);
}

/* #rating {
  display: flex;
  flex-direction: column;
} */
#rating {
  flex-basis: 40%;
  margin-right: 8rem;
  margin-bottom: 4rem;
}

.rate-card {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--neutral-light);
  border-radius: 5px;
  color: var(--primary-dark);
  font-weight: 700;
  transition: transform 1s ease-in-out;
}

.rate-card:nth-child(2) {
  transform: translateX(3rem);
}

.rate-card:last-child {
  transform: translateX(6rem);
}

.rate-card--text {
  margin-left: 2rem;
}

#cards {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.comment-card {
  border-radius: 10px;
  background-color: var(--primary-dark);
  color: var(--neutral-light);
  margin: 1rem auto;
  padding: 2.1rem 2rem;
  transition: transform 1s ease-in-out;
  flex-basis: 30%;
  min-height: 200px;
}

.card-header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}

.card-title {
  margin-left: 1.5rem;
}

.card-subTitle {
  color: var(--primary-light);
  margin-top: 0.5rem;
}
.card-body {
  font-weight: 300;
  font-size: 0.8rem;
}

.card-image {
  border-radius: 50%;
  width: 50px;
}

.comment-card:nth-child(2) {
  transform: translateY(1.5rem);
}

.comment-card:last-child {
  transform: translateY(3rem);
}
